.blog-detail {
    width: 50rem;
    margin: 0 auto;
}

a {
    text-decoration-line: none;
}


.title {
    font-size: 20px;
    font-weight: bold;
}

.info-container span,
.info-container a {
    font-size: 14px;
    color: #999;
}

.content-wrapper {
    margin-top: 20px;
    border-top: 1px solid #ccc;
}