
.profile {
    float: right;
    position: relative;
    z-index: 99;
}


.intro-btn {
    float: right;
    margin-right: 8rem !important;
    margin-bottom: 1.5rem !important;
}

.contact-info-wrapper {
    margin: 1rem auto;
    display: flex;
    text-align: center;
}

.social-info {
    width: 2rem !important;
    height: 2rem !important;
}


.text-container {
    min-height: 25rem;
    max-width: 45rem;
  }