
.indent {
    margin-left: 2rem !important;
}

.img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.name {
    font-weight: bold !important;
}

.profile {
    /* margin-left: 25%; */
    margin-bottom: 2rem !important;
}


.blogposts-pannel {
    padding-top: 0.3rem !important;
}

.login-btn {
    position: absolute !important;
    top: 1rem;
    right: 1.5rem;
    z-index:10;
}

.list-item {
    width: auto !important;
}