

.content {
    margin-top: 1rem !important;
}

.pagination-bar {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-panel {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.6rem;
}

.blog-post {
    display: flex;
    flex-direction: row;
}

.column-left {
    width: 35rem;
    min-width: 0;
}

.column-right {
    width: 15rem;
    min-width: 0;
    margin-left: 2rem;
}

.blog-tag-wrapper {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.blog-tag {
    margin-bottom: 0.5rem;
}