
.title-wrapper {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    max-height: 9.5rem;
    overflow: hidden;
}
.title-wrapper .title {
    font-size: 1.1rem;
    font-weight: bold;
}
.title-wrapper .info-wrapper span,
.title-wrapper .info-wrapper a {
    font-size: 1.1rem;
    color: #999;
}

.title-wrapper a {
    text-decoration: none;
    color: inherit;
}

.list-panel {
    min-height: 26rem;
}

