.image-gellery .image-gallery-left-nav .image-gallery-svg {
    height: 50px !important;
}

.image-gellery .image-gallery-right-nav .image-gallery-svg {
    height: 50px !important;
}

.image-gellery {
    display: none;
}