.image-gallery .image-gallery-left-nav .image-gallery-svg {
    height: 50px !important;
}

.image-gallery .image-gallery-right-nav .image-gallery-svg {
    height: 50px !important;
}

.image-gallery{
    display: none;
}