* {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}


#app-container {
  max-width: 55rem;
  margin: 5rem auto 0 auto;
  padding: 1rem 1rem 4rem 1rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

